services:
  harness:
    build: harness
    container_name: harness
    # ports:
    #   - "9464:9464" # metrics endpoint
    deploy:
      resources:
        limits:
          cpus: "4.0" # Limit cores
          memory: 512M # limit memory
    environment:
      - GOMAXPROCS=4 # Limit Go runtime
      - GATEWAY_HOSTNAME=gateway
    depends_on: [prometheus, grafana, gateway]
    networks:
      - monitoring

  gateway:
    build: services/gateway/
    container_name: gateway
    # ports:
    #   - "8080:8080" # gateway api endpoint
    deploy:
      resources:
        limits:
          cpus: "1.0" # Limit cores
          memory: 128M # limit memory
    environment:
      - GOMAXPROCS=1 # Limit Go runtime
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    ports:
      - "3000:3000"
    networks:
      - monitoring
    depends_on:
      - prometheus

networks:
  monitoring:
    driver: bridge
